BWCE_ProductAPI.module/Schemas/ProductFaults.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/ProductFaults" xmlns:tns="http://www.example.org/ProductFaults" elementFormDefault="qualified">
<complexType name="ProductNotFoundType">
<sequence>
<element name="errorCode" type="string"/>
<element name="errorMsg" type="string"/>
</sequence>
</complexType>
<element name="ProductNotFound" type="tns:ProductNotFoundType"/>

<complexType name="ProductNotUniqueType">
<sequence>
<element name="errorCode" type="string"/>
<element name="errorMsg" type="string"/>
</sequence>
</complexType>
<element name="ProductNotUnique" type="tns:ProductNotUniqueType"/>
</schema>